@{
    ViewData["Title"] = "Index";
}
@model List<ProductWithCategoryDto>
<h1>Index</h1>

<table class="table table-striped">

    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>price</td>
            <td>stock</td>
            <td>Category</td>
            <td>created date</td>
            <td>updated date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.createdDate</td>
                <td>@item.updatedDate</td>
                <td><a class="btn btn-warning" asp-route-id="@item.Id" app-controller="Product" asp-action="update">Update</a> </td>
                <td><a class="btn btn-danger" asp-route-id="@item.Id" app-controller="Product" asp-action="delete">Delete</a> </td>

            </tr>
        }
    </tbody>
</table>